/*  start GLOBAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 18px;
    color: white;
    scroll-behavior: smooth;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    line-height: 1.5;
}

.container {
    max-width: 1199px;
    margin: auto;
}

/* start class .title  */
.title {
    padding: 50px 0 30px;
    text-align: center;
}

.title p:first-child {
    font-size: 0.9rem;
    font-weight: 300;
    color: #e6384a;
}

.title h2 {
    font-size: 3.1rem;
    font-weight: 400;
}

.title p:last-child {
    font-weight: 700;
    color: #888888;
    padding-top: 20px;
}

/* end class .title  */
/* end GLOBAL */

/* start HEADER  */
.header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    position: absolute;
    width: 100%;
    z-index: 2;
}

.header__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0;
}

.header__content a {
    text-decoration: none;
    color: white;
    transition: all .5s;
}

.header__right a:hover {
    color: #e6384a;
}

.header__right ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    gap: 40px;
}

.header__left {
    font-size: 2rem;
    font-weight: 700;
}

.header__right a.active {
    color: #e6384a;
}

/* end HEADER  */

/* start CAROUSEL */
.carousel {
    height: 100vh;
    background-image: url(../image-video/home_slider.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.carousel__content {
    text-align: center;
}

.carousel__content p {
    font-size: 1.5rem;
}

.carousel__content h1 {
    font-size: 4.6rem;
    line-height: 1.1;
}

.carousel__content button {
    margin: 20px 0;
    background-color: #e6384a;
    padding: 20px 40px;
    color: white;
    border: 1px solid #e6384a;
    transition: all 0.5s;
    cursor: pointer;
}

.carousel__content button:hover {
    background-color: #af2239;
}

.carousel__scroll {
    font-size: 2rem;
    position: relative;
    animation: scrolldown 1s linear 0s infinite;
    animation: name duration timing-function delay iteration-count direction fill-mode;
}

@keyframes scrolldown {
    0% {
        top: 0px;
    }

    50% {
        top: 30px;
        opacity: 0;
    }

    51% {
        top: -30px;
        opacity: 0;
    }

    100% {
        top: 0px;
    }
}

/* end CAROUSEL  */
/* start SERVICES  */
.services {
    background-color: black;
    padding: 50px 0;
}

.sevices__slidder .services__item {
    background-color: white;
    color: #888888;
    margin: 10px;
    text-align: center;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.services__item i {
    font-size: 3.1rem;
}

.services__item p {
    font-size: 0.9rem;
}

.services__item::after {
    content: "";
    width: 5px;
    height: 0;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #e6384a;
    transition: all 0.25s linear;
}

.services__item:hover::after {
    height: 100%;
}

.sevices__slidder .slick-dots li button:before {
    font-size: 40px;
    color: #888888;
}

.sevices__slidder .slick-dots li.slick-active button:before {
    color: #e6384a;
}

/* end SERVICES  */

/* start SHOWCASE  */
.showcase {
    padding: 50px 0;
}

.showcase__content .title p:first-child {
    color: #888888;
}

.showcase__content .title h2 {
    color: black;
}

.showcase__logo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 100%;
}

.showcase__item {
    position: relative;
}

.showcase__item .showcase__img img {
    display: block;
    width: 100%;
    height: 410px;
    filter: grayscale(50%) contrast(100%);
    position: relative;
}

.showcase__item .showcase__img::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(230, 43, 74, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all .5s linear;
    z-index: 1;
}

.showcase__item .showcase__icon {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: white;
    position: absolute;
    top: 40px;
    right: 30px;
    opacity: 0;
    transition: all .5s linear;
    z-index: 2;
}

.showcase__item .showcase__icon a {
    color: black;
    transition: all .25s linear;
}

.showcase__item .showcase__icon:hover {
    color: white;
    background-color: black;
}

.showcase__item .showcase__icon:hover a {
    color: white;
}

.showcase__item .showcase__text {
    position: absolute;
    bottom: 10px;
    left: 30px;
    opacity: 0;
    transition: all .5s linear;
    z-index: 2;
}

.showcase__text p {
    color: #888888;
}

.showcase__item:hover .showcase__img::before {
    opacity: 1;
}

.showcase__item:hover .showcase__icon {
    opacity: 1;
    top: 20px;
}

.showcase__item:hover .showcase__text {
    opacity: 1;
    bottom: 30px;

}

/* end SHOWCASE  */

/* start BLOG  */
.blog {
    background-color: #f3f3f3;
    padding: 50px 0;
}

.blog .container {
    max-width: none;
}

.blog .title p:first-child {
    color: #888888;
}

.blog .title h2 {
    color: black;
}

.blog__news {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.blog__news .img__metro_1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

.blog__news .img__metro_10 {
    grid-column: 3 / span 2;
    grid-row: 3 / span 2;
}

.blog__news .blog__item img {
    width: 100%;
    display: block;
    opacity: 0.5;
    transition: all .5s;
}

.blog__news .blog__item:hover img {
    opacity: 1;
}

/* end BLOG  */

/* start NUMBER  */
.number {
    background-color: black;
    padding: 80px 0;
}

.number__content {
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
}

.number__content .number__item {
    text-align: center;
    width: 200px;
}

.number__content .number__item p.counter {
    font-size: 3.8rem;
    font-weight: 300;
}

.number__content .number__item p:last-child {
    font-size: 1.3rem;
    color: #888888;
}

/* end NUMBER  */

/* start ABOUT US  */
.aboutUs {
    background-image: url(../image-video/bussiness_img_1.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 50px 0;
}

.aboutUs_video video {
    width: 100%;
    margin: auto;
}

/* end ABOUT US  */

/* start CONTACT  */
.contact {
    padding: 50px 0;
}

.contact__content .title h2 {
    color: black;
}

.contact__info {
    display: flex;
}

.contact__map {
    width: 60%;
}

.contact__map iframe {
    width: 100%;
}

.contact__form {
    width: 40%;
}

.contact__form form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 30px;
    height: 100%;
}

.contact__form input,
.contact__form textarea {
    padding: 15px;
    font-size: 1rem;
    resize: none;
}

.contact__form .form__button {
    padding: 20px 30px;
    background-color: black;
    color: white;
    transition: all .5s;
    border: none;
}

.contact__form .form__button:hover {
    background-color: #e6384a;
}

/* end CONTACT  */

/* start FOOTER  */
.footer {
    padding: 80px 0;
    background-color: black;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__right a {
    margin-right: 10px;
    color: white;
}

.footer__right i {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    transition: all .5s;
}

.footer__right a:hover i {
    background-color: #e6384a;
}

/* end FOOTER  */

/* BACK TO TOP  */
.backToTop {
    visibility: hidden;
    opacity: 0;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    line-height: 50px;
    text-align: center;
    display: block;
    position: fixed;
    right: 10px;
    bottom: 10px;
    color: white;
}

.backToTop a {
    color: white;
    text-decoration: none;
}

.cd-top--is-visible {
    visibility: visible;
    opacity: 1;
}